@font-face {
    font-family: Work-Sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lucida-grande ;
    src: url(../fonts/LucidaGrande.ttf);
}

:root{
    --grau: #737373;
    --schwarz: #2E2E2E;
    --rosa: #EBCCC2;
    --braun:#867772;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **** allgemein ***  */

body{
    font-size: 62.5%;
    background: var(--schwarz);
}

a{
    text-decoration: none;
    font-family: Work-Sans,Arial, Helvetica, sans-serif;
    color: var(--braun);
}

p{
    font-family: Work-Sans,Arial, Helvetica, sans-serif;
    color: var(--grau);
}

.auto{
    margin: 0 auto;
}

.m-t-9{
    margin-top: 90px;
}

.m-t-4{
    margin-top: 40px;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ****** header ***** */

.topbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    right: 1vw;
    top: 0;
    margin: 29px 39px;
}
.logo{
    width: 36px;
    margin-left: 7vw;
}

.topbar .nav a{
    margin: 0 18px;
    font-size: clamp(0.5rem, 1vw, 1rem);
}
.topbar .nav a:hover{
    color: white !important;
    text-decoration: underline;
}

/* +++++++++ main ++++++++++  */

aside{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 23px;
    top: 160px;
    
}
.circle{
    width: clamp(0.8rem, 2.5vw, 2.5rem);
    position: absolute;
    top: 7%;
    transform: translateY(-50%);
    left: 0.3vw; 
    transition: left 0.3s;
}

aside a{
    color: var(--grau) !important;
    width: 15vw;
    text-align: left;
    margin-left: 3vw;
    
}
aside a:hover{
    color: white !important;
}
aside p{
    font-family: Lucida-grande;
    font-size: clamp(1rem, 3.2vw, 3.2rem);
    display: inline;
}
.line{
    height: 37px;
    border-left: 1px solid var(--grau);
    margin-left: 1.4vw;
}



/* ###### container #### */
.container{
    margin: 15vh 6vw;
}
h1, .design .info h2{
    font-family: Work-Sans,Arial, Helvetica, sans-serif;
    font-size: clamp(0.4rem, 2.5vw, 2rem); 
    color: var(--rosa);
    width: 26vw;
    font-weight: 400;
}
.container .hero{
    width: 87vw;
}

.design{
    width: 70vw;
}
.design img , .design .info{
    width: 47%;
}

.design .info p , .txt p{
    font-size: 16px;
    line-height: 2;
}



@media screen and (max-width:412px) {
    .logo {
        width: 20px;
        margin-left: 18vw;
    }
    .topbar .nav a {
        margin: 0 6px;
    }
    .container {
        margin: 9vh 6vw;
    }
    .design{
        flex-direction: column;
        width: 100%;
    }
    .design h2 , .design p{
        margin-top: 20px;
    }
    .design img ,.design .info{
        width: 70%;
    }
    .circle{
        width: 17px;
        left: -1px;
        top: 4%;
    }
    
}

@media screen and (min-width:1400px){
    .line{
        margin-left: 1.5vw;
    }
}