@font-face {
    font-family: Work-Sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lucida-grande ;
    src: url(../fonts/LucidaGrande.ttf);
}

:root{
    --grau: #737373;
    --schwarz: #2E2E2E;
    --rosa: #EBCCC2;
    --braun:#867772;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **** allgemein ***  */

body{
    font-size: 62.5%;
    background: var(--schwarz);
}

a{
    text-decoration: none;
    font-family: Work-Sans,Arial, Helvetica, sans-serif;
    color: var(--braun);
}

p{
    font-family: Work-Sans,Arial, Helvetica, sans-serif;
    color: var(--grau);
}

.auto{
    margin: 0 auto;
}

.m-t-9{
    margin-top: 90px;
}

.m-t-4{
    margin-top: 40px;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ****** header ***** */

.topbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    right: 1vw;
    top: 0;
    margin: 29px 39px;
}
.logo{
    width: 36px;
    margin-left: 7vw;
}

.topbar .nav a{
    margin: 0 18px;
    font-size: clamp(0.5rem, 1vw, 1rem);
}
.topbar .nav a:hover{
    color: white !important;
    text-decoration: underline;
}

/* +++++++++ main ++++++++++  */